body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#top{
  background-image: url("https://static.toiimg.com/thumb/msid-66502580,width-1200,height-900,resizemode-4/.jpg");
  height: 800px;
  width: 100%;
  color: white;
  font-size: 15px;
}

#oneh{
  font-family: montserrat;
}

#cone{
  border: none;
}

#ctwo{
  border: none;
}

#cthree{
  border: none;
}

#cfour{
  border: none;
}

#cfive{
  border: none;
}

#csix{
  border: none;
}

#fourT{
  padding-top: 150px;
}

#fourC{
  padding-top: 100px;
}

#fourC2{
  padding-top: 80px;
}

#fiveI{
  padding-top: 120px;
  padding-left: 140px;
}
